{{template "public/header" .}}
    <h1>Upload Images to Telegram</h1><label for="uploadFile" id="uploadFileLabel" class="custom-file-label">Choose Images</label> <input
        type="file" name="image" id="uploadFile" accept=".jpg, .jpeg, .png" class="custom-file-input" multiple> <button
        id="uploadButton" disabled>Please select files first</button>
    <div id="loading">Uploading...</div>
    <div id="response" class="ui-widget"></div>
{{template "public/footer" .}}